#image {
    height: 87px;
    width: 100px;
    background: 
  url('/sprite/enemies.png') 0px 0px;
  position: relative;
  top: 10px;
  z-index: -1;

}

p {margin: 0px !important;}

#calabaza {
    height: 100px;
    width: 120px;
    background: 
  url('/sprite/maincharacter.png') 0px -0px;
}
/*el frankenstein es  118 de alto por 80 de ancho*
el gato es 87 x 100 y la calabaza es 100 x 120 (-174)/
/*los normales son */

.rota-horizontal{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.row {
    margin-bottom: 64px !important;
    margin-top: 64px !important;
}

footer {
    background-color: #f7f7f7;
    padding: 32px !important;
}

.play-button {
    border-radius: 20px !important;
    margin-top: 20px !important;
}

.jumbotron {
    margin: 0px !important;
    padding: 15px !important;
}

.banner {
    background-color: #f7f7f7;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

footer > .row {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


#logo {
    background: #ccc;
    width: 150px;
    height: 60px;
}

.navbar-toggler {
    margin-top: 15px;
}

.btn-log>.nav-item {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

@media screen and (min-width: 992px) {
    .navbar {
        height: 130px;
    }

    #logo {
        width: 260px;
        height: 90px;
        position: relative;
    }

    .navbar-light .navbar-nav .nav-link {
        padding-right: 40px;
    }

    #nav-left {
        padding-left: 30px;
    }
}